.habit_card {
  width: 100%;
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.habit_item {
  width: 100%;
  padding: .5rem;
  border-radius: .5rem;
  display: flex;
  gap: 1rem;
  background: #8b72f8;
  color: #fff;
}

.col_1, .col_3 {
  flex-basis: 15%;
  width: 15%;
}

.col_2 {
  flex-basis: 70%;
  width: 70%;
}

.col_1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.col_1 h6 {
  font-family: var(--pry-font);
  font-size: clamp(2.2rem, 1.8rem, 1.6rem);
  text-transform: capitalize;
  color: #fff;
  letter-spacing: .2rem;
}

.col_2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.col_2 p:first-of-type {
  font-size: clamp(2.4rem, 2rem, 1.8rem);
  font-weight: bold;
  letter-spacing: .2rem;
  color: #f3f3f3;
}

.col_2 p:nth-of-type(2) {
  font-size: clamp(1.2rem, 1rem, .8rem);
  font-weight: 400;
  letter-spacing: .1rem;
}

.weekdays {
  width: 100%;
  display: flex;
  gap: 1.2rem;
}

.day {
  width: 3rem;
  height: 6rem;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.day p {
  font-family: var(--pry-font);
  font-size: clamp(2.6rem, 2rem, 1.8rem);
  letter-spacing: .2rem;
  color: #000 !important;
}

.day_check {
  border: .2rem solid #8b72f8;
  border-radius: .2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.6rem;
  height: 2.4rem;
  cursor: pointer;
}

.col_3 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: flex-end;
}

.col_3 svg {
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
}